---
const { titulo, descripcion, tecnologias, hashtags, url} = Astro.props
---

<!-- Este componente es una tarjeta de proyecto que se puede reutilizar en la página de proyectos para mostrar diferentes proyectos 
 con su título, descripción, tecnologías utilizadas y un enlace para ver más detalles. 
<article class="bg-gray-800 p-6 rounded-lg hover:bg-blue-700 ">
  <h3 class="text-2xl font-bold">{titulo}</h3>
  <p class="text-gray-400 mt-2">{descripcion}</p>
  <p class="text-sm text-blue-400 mt-4">{tecnologias}</p>
  <a href={url} class="text-blue-500 hover:underline">Ver más →</a>
</article>
-->
  <a href={url} class="card-glass hover:-translate-y-2 transition duration-500 block p-6 rounded-lg">
    <h3 class="text-2xl font-bold text-(--fg-0)">{titulo}</h3>                                                                  
    <p class="text-(--fg-1) mt-2">{descripcion}</p>
    <p class="text-sm text-(--accent) mt-4">{tecnologias}</p>
    <p class="text-sm text-(--fg-3) mt-4">{hashtags}</p>
    <!-- <span class="text-blue-500 mt-4 inline-block">Ver más →</span>-->

  </a>